<div class="container">
  <h1 class="text-center">Create a new cocktail</h1>
  <div class="wrap">
    <%= render 'form' %>
  </div>
  <div class="text-right">
    <%= link_to "Back Home", cocktails_path, class: "btn btn-success" %>
  </div>
</div>
