<div class="container">
  <h1 class="text-center">Add a new dose</h1>
  <div class="wrap">
    <%= render 'form' %>
  </div>
  <div class="text-right">
    <%= link_to "Back to #{@cocktail.name}", cocktail_path(@cocktail), class: "btn btn-success margin-bottom" %>
  </div>
</div>
