/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Margins
.margin-bottom{
  margin-bottom: 30px;
}
.margin{
  margin: 10px 0;
}
.margin-right{
  margin-right: 50px;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

// Wrapper
.wrapper-grey{
  background-color: rgba(250,250,250,0.4);
  padding: 50px;
  margin: 20px 50px;
  border-radius: 10px;
}
.wrapper-grey-rating{
  background-color: rgba(250,250,250,0.4);
  padding: 20px 50px;
  margin: 20px 50px;
  border-radius: 10px;
}
.wrap{
  background-color: rgb(250,250,250);
  padding: 50px;
  margin: 50px 300px;
  border-radius: 10px;
}
.wrap-dose{
  background-color: rgb(250,250,250);
  padding: 20px 30px 30px 30px;
  margin: 60px 70px 10px 70px;
  border-radius: 10px;
  color:black;
  h4{}
}
.wrap-rating{
  background-color: rgb(250,250,250);
  padding: 10px 30px 30px 30px;
  margin: 20px 70px 60px 70px;
  border-radius: 10px;
  color:black;
}

// Fullscreen
.full-screen {
  min-height: calc(100vh - 150px)
}

// Flexbox
.flex{
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

//FontAwsome
i{
  color: $brand-color;
}

hr{
  margin: 5px auto;
  width: 50%;

}
